

<div class="banner">
  <div class="title-content">
    <h1 class="new-font">Welcome to boredGames!</h1>
  </div>
  <div class="banner-content">
    <div class="form-container">
      <h3 class="new-font">Which games fit your needs?</h3>
      <%= render 'form_all' %>
    </div>
  </div>
</div>






